body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,th,caption,hr,h1,h2,h3,h4,h5,h6,img,header,nav,section,article,footer{
  margin:0;
  padding:0;
}
ul,ol,li{
  text-decoration: none;
  list-style: none;
}
a{
  text-decoration: none;
}
b,strong{
    font-weight: 100;
    font-style: normal;
}
i,em{
  font-style: normal;
}
body{
  font-family: "Microsoft Yahei",Arial;
}
img,input,span{
  border:none;   
}
img{
    vertical-align: bottom;
}
.iconfont{
  font-size: 20px;
}