@import 'common';
.graph{
    width:96%;
    margin-top:106px;
    background: white;
    display: none;
    overflow: hidden;
    .echart{
        float:left;
        width:500px;
        height:400px;
    }
    .echartT{
        width:1000px;
        height:600px;
        padding-top:100px;
        background:gray
     }
 }

 @media only screen and (max-width: 700px){
    .graph{
        width:400px;
        height:300px;
        margin-top:30px;
        margin-left:20%;
        background: white;
    }
    .echart{
       float:none;
    }
    
 }
 @media only screen and (max-width: 1000px){
    .echartT{
      display:none;
    }
 }











