@import 'common';
.techingUser{
    position:relative;
    width:96%;
    margin-top:60px;
    display: none;
    .searchForm{
        width:900px;
        height:80px;
        margin:0 auto;
        margin-top:20px;
        padding-top:20px;
        box-sizing:border-box;
        .searchInput{
            width:240px;
            height:35px;
            border:none;
            border: 1px solid #ccc;
            border-radius: 6px;
            outline:none;
            text-indent:8px;
        }
        input::-webkit-input-placeholder{
            color:#ccc;
            text-indent:20px;
          }
        .searchBtn{
            height:35px;  
            width:50px;
            background:green;
            margin-left:5px;
            border:1px solid gray;
            border-radius: 5px;
            white-space: nowrap;
            vertical-align: middle;
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
            outline:none;
        }
    }
    .tableSession{
        overflow:hidden;
        .sessionaTable{
            width:900px;
            margin:0 auto;
            margin-top:10px;
            border-collapse: collapse;
            text-align: center;
            [type=checkbox]{
            width:15px;
            height:15px;
            }
            .sessionaThead{
                width:900px;
                tr{
                    th{
                        height:60px;
                        background: #e2f2ff;
                        border-top: 3px solid #a7cbff;
                        border-bottom: 1px solid #CADEFF;
                        box-sizing:border-box;
                    }
                    .thOne{
                        width:80px;
                    }
                
                }
            }
            .sessionaTbody{
                width:900px;
                font-size: 14px;
                color:#333;
                tr{
                    width:900px;
                    td{ 
                        height:40px;
                        background: white;
                        border-bottom: 1px solid #CADEFF; 
                        box-sizing:border-box;  
                    }
                }
                .get{
                    display:none;
                }
            }

        }
    }
       
    .foot{
        width:900px;
        margin:0 auto;
        height:50px;
        margin-top:20px;
        color: #666;
        height: 48px;
        border: 1px solid #c8c8c8;
        background-color: #eaeaea;
        position: relative;
        .fl{
            float: left;
        }
        .select-all{
            width: 100px;
            height: 48px;
            line-height: 48px;
            padding-left: 5px;
            color: #666;
        }
        .footSame{
            display:block;
            width:60px;
            height:40px;
            border-radius:5px;
            height: 30px;
            line-height: 30px;
            color:white;
            text-align:center;
            margin-left:8px;
            margin-top:9px;
            font-size:14px;
        }
        .add{
            background-color: #337ab7;
            border-color: #2e6da4;
        }
        .auditing{
            background-color: #5bc0de;
            border-color: #46b8da;
        }
        .delete{
            background-color: #d9534f;
            border-color: #d43f3a;
            margin-right:150px;
        }
        .ulFr{
            float:right;
            margin-right:20px;
            border-radius: 4px;
           
            .fr{
                border: 1px solid #c8c8c8;
                float:left;
                line-height:28px;
                height:28px;
                display:block;
                text-align:center;
                margin-left:8px;
                margin-top:9px;
                font-size:14px;
                color:#666;
                a{
                    color:#337ab7;
                    padding:0 8px;
                }
            }
        }
    }
    .shandow{
        display:none;
        position:absolute;
        top:0;
        left:0;
        width:1000px;
        height:500px;
        background:rgba(0,0,0,0.2); 
        ul{
            margin:auto;
            margin-top:50px;
            width:500px;
            height:330px;
            background:white;
            background: #f9f9f9;
        }
    }
    .addInfor{
        display:none;
        ul{      
            li{ 
                width:100%;
                height:65px;
                line-height:65px;
                text-align: center;
                label{
                    width:70px;
                    display:inline-block;
                    height:40px;
                    text-align: right;
                    margin-right:10px;
            
                }
                input{
                    width:350px;
                    height:30px;
                    border:1px solid pink;
                    outline:none;
                }
                button{
                    width:60px;
                    height:30px;
                    background:pink;
                    border:1px solid pink;
                    outline:none;
                    margin-left:20px;
                }
            }

        }
    }
    .checking{
        text-align:center;
        ul{
            width: 500px;;
            height:80px;
            margin-top:150px;
            border-radius:10px;
            background:black;
            color:white;
          li{
              line-height:40px;
              height:40px;
              button{
                  width:60px;
                  height:30px;
                  outline:none;
                  border-radius:2px;
                  border:none;
              }
          }
        }
    }
   
}
