body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,td,tr,th,hr,caption,table,img,input,form,legend,fieldset,button{
  margin:0;
  padding:0;
}
ul,ol,li{
  list-style:none;
}
body{
  font-size:"Microsoft Yahei",Arial;
}
img,input,span{
  border:none;
}
img{
  vertical-align:bottom;
}
a{
  text-decoration:none;
}
strong,b{
  font-weight:100;
}
i,em{
  font-style:normal;
}





